@font-face {
  font-family: 'C2VectorIcons';
  src:
    url('fonts/C2VectorIcons.ttf?vvojn') format('truetype'),
    url('fonts/C2VectorIcons.woff?vvojn') format('woff'),
    url('fonts/C2VectorIcons.svg?vvojn#C2VectorIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="C2-"], [class*=" C2-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'C2VectorIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.C2-zigerenzheng:before {
  content: "\e77b";
}
.C2-tiyuchangguan:before {
  content: "\e77c";
}
.C2-fapiao:before {
  content: "\e792";
}
.C2-zhiyezige:before {
  content: "\e793";
}
.C2-hangzhengwenti:before {
  content: "\e794";
}
.C2-yanglao_fuzhi:before {
  content: "\e795";
}
.C2-whcg:before {
  content: "\e796";
}
.C2-yuanlinlvdi:before {
  content: "\e797";
}
.C2-yuanlinlvdiyanghu:before {
  content: "\e798";
}
.C2-shebao:before {
  content: "\e799";
}
.C2-jiaotongfakuanjiaofacopy:before {
  content: "\e79a";
}
.C2-qita2:before {
  content: "\e780";
}
.C2-fuwu:before {
  content: "\e77d";
}
.C2-fuwu1:before {
  content: "\e79b";
}
.C2-xinwenfabuhui-:before {
  content: "\e79c";
}
.C2-arrow-round-l:before {
  content: "\e79d";
}
.C2-qita1:before {
  content: "\e79e";
}
.C2-see-icon-m3-research:before {
  content: "\e77f";
}
.C2-daichuli:before {
  content: "\e7da";
}
.C2-tiaocha:before {
  content: "\e79f";
}
.C2-Group:before {
  content: "\e7a0";
}
.C2-xinxiang:before {
  content: "\e7a1";
}
.C2-xndt_01:before {
  content: "\e900";
}
.C2-xndt_02:before {
  content: "\e901";
}
.C2-xndt_03:before {
  content: "\e902";
}
.C2-xndt_04:before {
  content: "\e903";
}
.C2-xndt_05:before {
  content: "\e904";
}
.C2-xndt_06:before {
  content: "\e905";
}
.C2-xndt_07:before {
  content: "\e906";
}
.C2-xndt_08:before {
  content: "\e907";
}
.C2-xndt_09:before {
  content: "\e908";
}
.C2-xndt_10:before {
  content: "\e909";
}
.C2-xndt_11:before {
  content: "\e90a";
}
.C2-xndt_12:before {
  content: "\e90b";
}
.C2-xndt_13:before {
  content: "\e90c";
}
.C2-xndt_14:before {
  content: "\e90d";
}
.C2-xndt_15:before {
  content: "\e90e";
}
.C2-xndt_16:before {
  content: "\e90f";
}
.C2-xndt_17:before {
  content: "\e910";
}
.C2-xndt_18:before {
  content: "\e911";
}
.C2-xndt_19:before {
  content: "\e912";
}
.C2-xndt_20:before {
  content: "\e913";
}
.C2-xndt_21:before {
  content: "\e914";
}
.C2-xndt_22:before {
  content: "\e915";
}
.C2-xndt_23:before {
  content: "\e916";
}
.C2-xndt_24:before {
  content: "\e917";
}
.C2-xndt_25:before {
  content: "\e918";
}
.C2-xndt_26:before {
  content: "\e919";
}
.C2-xndt_27:before {
  content: "\e91a";
}
.C2-xndt_28:before {
  content: "\e91b";
}
.C2-xndt_29:before {
  content: "\e91c";
}
.C2-xndt_30:before {
  content: "\e91d";
}
.C2-xndt_31:before {
  content: "\e91e";
}
.C2-xndt_32:before {
  content: "\e91f";
}
.C2-xndt_33:before {
  content: "\e920";
}
.C2-xndt_34:before {
  content: "\e921";
}
.C2-xndt_35:before {
  content: "\e922";
}
.C2-xndt_36:before {
  content: "\e923";
}
.C2-xndt_37:before {
  content: "\e924";
}
.C2-xndt_38:before {
  content: "\e925";
}
.C2-xndt_39:before {
  content: "\e926";
}
.C2-xndt_40:before {
  content: "\e927";
}
.C2-xndt_41:before {
  content: "\e928";
}
.C2-xndt_42:before {
  content: "\e929";
}
.C2-xndt_43:before {
  content: "\e92a";
}
.C2-xndt_44:before {
  content: "\e92b";
}
.C2-xndt_45:before {
  content: "\e92c";
}
.C2-xndt_46:before {
  content: "\e92d";
}
.C2-xndt_47:before {
  content: "\e92e";
}
.C2-xndt_48:before {
  content: "\e92f";
}
.C2-xndt_49:before {
  content: "\e930";
}
.C2-xndt_50:before {
  content: "\e931";
}
.C2-xndt_51:before {
  content: "\e932";
}
.C2-xndt_52:before {
  content: "\e933";
}
.C2-xndt_53:before {
  content: "\e934";
}
.C2-xndt_54:before {
  content: "\e935";
}
.C2-xndt_55:before {
  content: "\e936";
}
.C2-xndt_56:before {
  content: "\e937";
}
.C2-zhifu:before {
  content: "\e75b";
}
.C2-diyazhiya:before {
  content: "\e76c";
}
.C2-nianjiannianshen:before {
  content: "\e769";
}
.C2-shehuibaozhang:before {
  content: "\e77a";
}
.C2-rongzixindai:before {
  content: "\ea50";
}
.C2-zhaobiaopaimai:before {
  content: "\ea51";
}
.C2-shuiwuqixiang:before {
  content: "\ea52";
}
.C2-nonglinyumu:before {
  content: "\ea53";
}
.C2-huanbaolvhua:before {
  content: "\ea54";
}
.C2-shangwumaoyi:before {
  content: "\ea55";
}
.C2-touzishenpi:before {
  content: "\ea56";
}
.C2-zhaobiaopaimai1:before {
  content: "\ea57";
}
.C2-jiaotongyunshuyongdi:before {
  content: "\ea58";
}
.C2-xuexi:before {
  content: "\ea59";
}
.C2-yuangongfengcai:before {
  content: "\ea5a";
}
.C2-g:before {
  content: "\ea5b";
}
.C2-tubiaozhizuomoban1:before {
  content: "\ea5c";
}
.C2-tubiaozhizuomoban22:before {
  content: "\ea5d";
}
.C2-tubiaozhizuomoban3:before {
  content: "\ea5e";
}
.C2-shoucang2:before {
  content: "\e78e";
}
.C2-shoucangshangpin:before {
  content: "\e78f";
}
.C2-aixin1:before {
  content: "\e791";
}
.C2-shoucang1:before {
  content: "\e784";
}
.C2-ziyuan:before {
  content: "\e748";
}
.C2-ziyuan1:before {
  content: "\e74a";
}
.C2-yonghu11:before {
  content: "\e715";
}
.C2-yonghu21:before {
  content: "\e731";
}
.C2-yonghu2:before {
  content: "\e659";
}
.C2-yonghu3:before {
  content: "\e61d";
}
.C2-yonghu1:before {
  content: "\e60e";
}
.C2-01:before {
  content: "\e643";
}
.C2-wode:before {
  content: "\e69f";
}
.C2-wo:before {
  content: "\e6c7";
}
.C2-wode1:before {
  content: "\e702";
}
.C2-yonghu:before {
  content: "\e600";
}
.C2-yonghu4:before {
  content: "\e620";
}
.C2-touxiang-copy-copy-copy:before {
  content: "\e6b2";
}
.C2-touxiang-copy-copy:before {
  content: "\e6b1";
}
.C2-touxiang:before {
  content: "\e6af";
}
.C2-touxiang1:before {
  content: "\e6b3";
}
.C2-wodezhengjianzhao:before {
  content: "\e71b";
}
.C2-qiyeyonghu:before {
  content: "\e726";
}
.C2-tubiao05:before {
  content: "\e6de";
}
.C2-icon21:before {
  content: "\e72c";
}
.C2-gerenxinxi:before {
  content: "\e704";
}
.C2-tianjiayonghu:before {
  content: "\e62b";
}
.C2-qiuzhi:before {
  content: "\e718";
}
.C2-kehu2:before {
  content: "\e70e";
}
.C2-gerenshimingrenzheng:before {
  content: "\e6fc";
}
.C2-tubiaozhizuomoban:before {
  content: "\e6df";
}
.C2-lingdaotaren:before {
  content: "\e768";
}
.C2-kehu:before {
  content: "\e6f3";
}
.C2-kehuguanli:before {
  content: "\e6be";
}
.C2-yonghuzu:before {
  content: "\e604";
}
.C2-yonghuming:before {
  content: "\e606";
}
.C2-shouye2:before {
  content: "\e77e";
}
.C2-shouye-copy:before {
  content: "\e782";
}
.C2-home:before {
  content: "\e6aa";
}
.C2-shouye:before {
  content: "\e6a2";
}
.C2-shequ:before {
  content: "\e764";
}
.C2-xinwen:before {
  content: "\e74f";
}
.C2-xinwenshixin:before {
  content: "\e745";
}
.C2-zhinanzhen:before {
  content: "\e786";
}
.C2-zhinanzhenshixin:before {
  content: "\e744";
}
.C2-zhinanzhen1:before {
  content: "\e75e";
}
.C2-banshizhinan:before {
  content: "\e73c";
}
.C2-aixin:before {
  content: "\e74b";
}
.C2-aixin01:before {
  content: "\e746";
}
.C2-xingzhengbangong:before {
  content: "\e61a";
}
.C2-wenjian1:before {
  content: "\e627";
}
.C2-xinxigongkai:before {
  content: "\e78b";
}
.C2-mimayanjingguanbi:before {
  content: "\e739";
}
.C2-eye-copy:before {
  content: "\e716";
}
.C2-yanjing1:before {
  content: "\e80b";
}
.C2-guanbiyanjing:before {
  content: "\e7a6";
}
.C2-yanjing:before {
  content: "\e6d6";
}
.C2-mima-yanjing-guanbi:before {
  content: "\e73b";
}
.C2-aixinzhiyuantuanshixin:before {
  content: "\e78c";
}
.C2-aixinzhiyuantuan:before {
  content: "\e73f";
}
.C2-aixinzhiyuantuankongxin:before {
  content: "\e78d";
}
.C2-aixinzhiyuantuan-copy:before {
  content: "\e742";
}
.C2-kefu1:before {
  content: "\e72f";
}
.C2-dingwei:before {
  content: "\e67a";
}
.C2-location:before {
  content: "\e67c";
}
.C2-meigouxuanjian:before {
  content: "\e663";
}
.C2-gouxuanjian:before {
  content: "\e662";
}
.C2-gouxuankuang:before {
  content: "\e634";
}
.C2-check-R:before {
  content: "\e65c";
}
.C2-xuanzhong:before {
  content: "\e6e0";
}
.C2-guanbi:before {
  content: "\e62f";
}
.C2-gou:before {
  content: "\e75a";
}
.C2-up-copy:before {
  content: "\e738";
}
.C2-xiajiangcon:before {
  content: "\e73a";
}
.C2-jiantou-up:before {
  content: "\e6d1";
}
.C2-xiajiantou21:before {
  content: "\e785";
}
.C2-shangjiantou:before {
  content: "\e6e2";
}
.C2-xiajiantou11:before {
  content: "\e6cc";
}
.C2-jiantou:before {
  content: "\e6ce";
}
.C2-jiantou1xia:before {
  content: "\e64f";
}
.C2-fm-jt-x:before {
  content: "\e649";
}
.C2-xiajiantou1:before {
  content: "\e63c";
}
.C2-xiazai:before {
  content: "\e653";
}
.C2-icon46:before {
  content: "\e645";
}
.C2-xiazai1:before {
  content: "\e664";
}
.C2-ttpodicon:before {
  content: "\e646";
}
.C2-fanhui3:before {
  content: "\e647";
}
.C2-fanhui4:before {
  content: "\e657";
}
.C2-xiajiantou:before {
  content: "\e635";
}
.C2-llmainpageback:before {
  content: "\e688";
}
.C2-next:before {
  content: "\e68c";
}
.C2-fanhui:before {
  content: "\e630";
}
.C2-xiayiye:before {
  content: "\e66e";
}
.C2-fanhui1:before {
  content: "\e631";
}
.C2-fanhui2:before {
  content: "\e633";
}
.C2-icon03:before {
  content: "\e66f";
}
.C2-jiantouxia:before {
  content: "\e658";
}
.C2-xiajiantou2:before {
  content: "\e654";
}
.C2-iconfont14:before {
  content: "\e648";
}
.C2-xialagengduo:before {
  content: "\e64b";
}
.C2-gengduoxiala01:before {
  content: "\e65d";
}
.C2-jiantou1:before {
  content: "\e679";
}
.C2-xjiantou:before {
  content: "\e665";
}
.C2-prev-page:before {
  content: "\e6cd";
}
.C2-iconfontpageright:before {
  content: "\e6cb";
}
.C2-pageprev:before {
  content: "\e6db";
}
.C2-pagernext:before {
  content: "\e6da";
}
.C2-dropup:before {
  content: "\e693";
}
.C2-xialaanniu:before {
  content: "\e689";
}
.C2-guanbi1:before {
  content: "\e651";
}
.C2-22gouxuanduihao:before {
  content: "\e669";
}
.C2-tubiaogouxuan:before {
  content: "\e65e";
}
.C2-gouxuanchoose:before {
  content: "\e641";
}
.C2-queding:before {
  content: "\e6a3";
}
.C2-gouxuan:before {
  content: "\e70a";
}
.C2-gengduo1:before {
  content: "\e623";
}
.C2-gengduo:before {
  content: "\e60d";
}
.C2-qita:before {
  content: "\e674";
}
.C2-gengduo11:before {
  content: "\e6fd";
}
.C2-yanzhengma:before {
  content: "\e676";
}
.C2-shequhuodong:before {
  content: "\e766";
}
.C2-toupiao:before {
  content: "\e617";
}
.C2-shezhi4:before {
  content: "\e60f";
}
.C2-tuodong:before {
  content: "\e884";
}
.C2-jilu:before {
  content: "\e6b4";
}
.C2-gongzuo:before {
  content: "\e673";
}
.C2-caozuorizhi4:before {
  content: "\e626";
}
.C2-daibanshiyi:before {
  content: "\e6ea";
}
.C2-gongzuodongtai:before {
  content: "\e75c";
}
.C2-xinwen1:before {
  content: "\e761";
}
.C2-xiaoshou01:before {
  content: "\e67b";
}
.C2-tongji:before {
  content: "\e7a7";
}
.C2-gengxin:before {
  content: "\e751";
}
.C2-update-copy:before {
  content: "\e6b0";
}
.C2-gengxin1:before {
  content: "\e68d";
}
.C2-ccgl-zhouzhuanxiang-5:before {
  content: "\e6d9";
}
.C2-sousuo:before {
  content: "\e62d";
}
.C2-search:before {
  content: "\e63f";
}
.C2-sousuo1:before {
  content: "\e655";
}
.C2-sousuo_sousuo:before {
  content: "\e6a7";
}
.C2-daishenhe:before {
  content: "\e73d";
}
.C2-shezhi1:before {
  content: "\e677";
}
.C2-shezhi41:before {
  content: "\e69b";
}
.C2-shezhi2:before {
  content: "\e697";
}
.C2-shezhi3:before {
  content: "\e698";
}
.C2-shezhi51:before {
  content: "\e69c";
}
.C2-shezhi:before {
  content: "\e603";
}
.C2-set:before {
  content: "\e6ac";
}
.C2-shezhi5:before {
  content: "\e64d";
}
.C2-iconfont75:before {
  content: "\e61e";
}
.C2-iconfontcolor36:before {
  content: "\e61c";
}
.C2-huiyiyuding:before {
  content: "\e75d";
}
.C2-shijian:before {
  content: "\e6bf";
}
.C2-shizhong:before {
  content: "\e668";
}
.C2-icon011:before {
  content: "\e675";
}
.C2-dengdaijianzhi:before {
  content: "\e683";
}
.C2-daishouli1:before {
  content: "\e720";
}
.C2-yuqixiangmu:before {
  content: "\e695";
}
.C2-analysis:before {
  content: "\e747";
}
.C2-icon20:before {
  content: "\e637";
}
.C2-loadding:before {
  content: "\e737";
}
.C2-jiazai1:before {
  content: "\e667";
}
.C2-jiazai:before {
  content: "\e656";
}
.C2-icon01:before {
  content: "\e638";
}
.C2-circularegistration:before {
  content: "\e640";
}
.C2-bi:before {
  content: "\e639";
}
.C2-bishurugaixie:before {
  content: "\e652";
}
.C2-858bi:before {
  content: "\e66b";
}
.C2-bi1:before {
  content: "\e661";
}
.C2-yijianfankui:before {
  content: "\e708";
}
.C2-rizhi2121:before {
  content: "\e618";
}
.C2-bianji:before {
  content: "\e719";
}
.C2-rizhi:before {
  content: "\e621";
}
.C2-rizhi42x36:before {
  content: "\e607";
}
.C2-bianjimoban:before {
  content: "\e62c";
}
.C2-bangongyongpin2:before {
  content: "\e61f";
}
.C2-orders:before {
  content: "\e6ad";
}
.C2-icon05:before {
  content: "\e60a";
}
.C2-iphoneduanxin:before {
  content: "\e64c";
}
.C2-iconfontfaduanxin:before {
  content: "\e66a";
}
.C2-855duanxin:before {
  content: "\e66c";
}
.C2-xiaoxi:before {
  content: "\e681";
}
.C2-xinxi:before {
  content: "\e6dc";
}
.C2-huifu:before {
  content: "\e71c";
}
.C2-zixun1:before {
  content: "\e767";
}
.C2-appluntan:before {
  content: "\e800";
}
.C2-zixun:before {
  content: "\e750";
}
.C2-898989:before {
  content: "\e6e4";
}
.C2-zanting:before {
  content: "\e632";
}
.C2-iconfont32:before {
  content: "\e65a";
}
.C2-55:before {
  content: "\e644";
}
.C2-guanbi2:before {
  content: "\e66d";
}
.C2-zengjia:before {
  content: "\e6c8";
}
.C2-tianjia1:before {
  content: "\e680";
}
.C2-xinjian:before {
  content: "\e670";
}
.C2-fawenguanli_weiban:before {
  content: "\e6d8";
}
.C2-jiahao:before {
  content: "\e6b9";
}
.C2-newAnalyze:before {
  content: "\e72a";
}
.C2-jianhao:before {
  content: "\e6ba";
}
.C2-lajixiang:before {
  content: "\e6c4";
}
.C2-lajixiang1:before {
  content: "\e6c6";
}
.C2-dianhua11:before {
  content: "\e68e";
}
.C2-118:before {
  content: "\e6c2";
}
.C2-dianhua2:before {
  content: "\e666";
}
.C2-dianhua:before {
  content: "\e63b";
}
.C2-dianhua1:before {
  content: "\e64a";
}
.C2-dayin:before {
  content: "\e6bd";
}
.C2-x:before {
  content: "\78";
}
.C2-bangongyongpin:before {
  content: "\e611";
}
.C2-youjian:before {
  content: "\e609";
}
.C2-duanxin1:before {
  content: "\e642";
}
.C2-duanxin:before {
  content: "\e636";
}
.C2-duanxin11:before {
  content: "\e6c1";
}
.C2-baibaoxiang:before {
  content: "\e762";
}
.C2-weibiaoti9:before {
  content: "\e605";
}
.C2-gongzuojingyan:before {
  content: "\e687";
}
.C2-gongwenbao1:before {
  content: "\e60c";
}
.C2-gongwenbao:before {
  content: "\e608";
}
.C2-saoyisao1:before {
  content: "\e6a8";
}
.C2-saoyisao:before {
  content: "\e650";
}
.C2-saoyisao2:before {
  content: "\e6e3";
}
.C2-zhuanfa1:before {
  content: "\e63d";
}
.C2-zhuanfa2:before {
  content: "\e63e";
}
.C2-zhuanfa:before {
  content: "\e62e";
}
.C2-zhuanfa3:before {
  content: "\e660";
}
.C2-xiliexin:before {
  content: "\e724";
}
.C2-zuzhi:before {
  content: "\e75f";
}
.C2-bangzhu:before {
  content: "\e703";
}
.C2-fawenguanli_daiban:before {
  content: "\e6d7";
}
.C2-zhuyi:before {
  content: "\e6fe";
}
.C2-zhuyi1:before {
  content: "\e70c";
}
.C2-guanyu:before {
  content: "\e6a5";
}
.C2-guanyu1:before {
  content: "\e6cf";
}
.C2-36:before {
  content: "\e69a";
}
.C2-tixing:before {
  content: "\e752";
}
.C2-10:before {
  content: "\e6a4";
}
.C2-tongzhi1:before {
  content: "\e62a";
}
.C2-tongzhi2:before {
  content: "\e765";
}
.C2-tongzhi:before {
  content: "\e602";
}
.C2-svg45:before {
  content: "\e625";
}
.C2-tongzhi11:before {
  content: "\e6dd";
}
.C2-mima:before {
  content: "\e692";
}
.C2-Secret:before {
  content: "\e6ae";
}
.C2-icon1:before {
  content: "\e68b";
}
.C2-meiyuan:before {
  content: "\e68f";
}
.C2-meiyuan4:before {
  content: "\e736";
}
.C2-daikuan:before {
  content: "\e694";
}
.C2-charge:before {
  content: "\e6f7";
}
.C2-fukuan:before {
  content: "\e72d";
}
.C2-shoukuan:before {
  content: "\e6bc";
}
.C2-qianbao:before {
  content: "\e6e9";
}
.C2-qianbao1:before {
  content: "\e71f";
}
.C2-jiaofei:before {
  content: "\e734";
}
.C2-iconzhi02:before {
  content: "\e6f8";
}
.C2-wechat:before {
  content: "\e6fb";
}
.C2-icon-:before {
  content: "\e712";
}
.C2-qq1:before {
  content: "\e6fa";
}
.C2-qq:before {
  content: "\e852";
}
.C2-umidd17:before {
  content: "\e6ff";
}
.C2-icon0208:before {
  content: "\e671";
}
.C2-yinxingqiazhifu:before {
  content: "\e6f2";
}
.C2-zhidingzhanghugonghan:before {
  content: "\e730";
}
.C2-gongzuo1:before {
  content: "\e6ca";
}
.C2-richengbiao:before {
  content: "\e601";
}
.C2-29gongwendanganrukuguanli:before {
  content: "\e614";
}
.C2-richeng1:before {
  content: "\e628";
}
.C2-yuyue:before {
  content: "\e6e6";
}
.C2-zizhirending:before {
  content: "\e6a6";
}
.C2-03fuzhubangong:before {
  content: "\e615";
}
.C2-64gongwenzhuanxiangchaxun:before {
  content: "\e616";
}
.C2-wenjian:before {
  content: "\e619";
}
.C2-richeng:before {
  content: "\e622";
}
.C2-jiaoyu:before {
  content: "\e741";
}
.C2-shoushimima0:before {
  content: "\e749";
}
.C2-shoushimima:before {
  content: "\e6f6";
}
.C2-jiarugouwuche:before {
  content: "\e6b5";
}
.C2-peisong:before {
  content: "\e6c9";
}
.C2-chaoshi:before {
  content: "\e8eb";
}
.C2-xueli:before {
  content: "\e685";
}
.C2-icon17:before {
  content: "\e684";
}
.C2-iconfontjiaoyubeijing:before {
  content: "\e686";
}
.C2-zuzhijigou:before {
  content: "\e63a";
}
.C2-zuzhijiegou:before {
  content: "\e65b";
}
.C2-jigou:before {
  content: "\e781";
}
.C2-institute:before {
  content: "\e763";
}
.C2-chengshi:before {
  content: "\e67f";
}
.C2-qiye:before {
  content: "\e98b";
}
.C2-xuexiao:before {
  content: "\e71d";
}
.C2-jigou1:before {
  content: "\e70d";
}
.C2-wenjian11:before {
  content: "\e790";
}
.C2-wenjian2:before {
  content: "\e6e1";
}
.C2-wodebiaowaibuliangzhuanhuan:before {
  content: "\e6a9";
}
.C2-wodebiaowaibuliangzhuanhuan1:before {
  content: "\e6ab";
}
.C2-daishouli:before {
  content: "\e711";
}
.C2-zhengwugongkai:before {
  content: "\e6ec";
}
.C2-yibanshixiang:before {
  content: "\e72e";
}
.C2-shenqingkaijuwaichujingyinghuodongshuishouguanlizhengming:before {
  content: "\e789";
}
.C2-suoyoubanjian:before {
  content: "\e78a";
}
.C2-ziliao-copy:before {
  content: "\e713";
}
.C2-xiaoshou1:before {
  content: "\e6bb";
}
.C2-zhengce:before {
  content: "\e6f4";
}
.C2-fawenguanli-gongwenbanliai:before {
  content: "\e6ef";
}
.C2-shouwenguanli-gongwenbanliai:before {
  content: "\e6f0";
}
.C2-02xingzhengbangong:before {
  content: "\e613";
}
.C2-bus:before {
  content: "\e6f1";
}
.C2-qiche:before {
  content: "\e727";
}
.C2-wuliu:before {
  content: "\e714";
}
.C2-songhuo:before {
  content: "\e6c5";
}
.C2-jiayouka:before {
  content: "\e725";
}
.C2-icon_aixinjuankuan:before {
  content: "\e787";
}
.C2-kunnanjiuzhu:before {
  content: "\e788";
}
.C2-aixinbangfumoren:before {
  content: "\e783";
}
.C2-xiaoshou:before {
  content: "\e6d0";
}
.C2-biaoqian:before {
  content: "\e717";
}
.C2-tongxunlu:before {
  content: "\e6c3";
}
.C2-icon:before {
  content: "\e60b";
}
.C2-hujichaxunbanli:before {
  content: "\e721";
}
.C2-kehu1:before {
  content: "\e6b7";
}
.C2-shimingrenzheng:before {
  content: "\e6f5";
}
.C2-zizhirenzheng:before {
  content: "\e6ee";
}
.C2-shibai:before {
  content: "\e699";
}
.C2-tupian1:before {
  content: "\e6c0";
}
.C2-tupian:before {
  content: "\e6e5";
}
.C2-shipin:before {
  content: "\e760";
}
.C2-yasuobao:before {
  content: "\e6d3";
}
.C2-pingjia-copy:before {
  content: "\e701";
}
.C2-bianminfuwu:before {
  content: "\e6e7";
}
.C2-lixi:before {
  content: "\e69e";
}
.C2-savetemp:before {
  content: "\e70b";
}
.C2-bangongxitong:before {
  content: "\e61b";
}
.C2-chuangkou:before {
  content: "\e72b";
}
.C2-bangongoa:before {
  content: "\e624";
}
.C2-wenjianjia:before {
  content: "\e8ea";
}
.C2-tuichu1:before {
  content: "\e65f";
}
.C2-tuichu:before {
  content: "\e64e";
}
.C2-shengri:before {
  content: "\e68a";
}
.C2-icon2:before {
  content: "\e610";
}
.C2-yinpin:before {
  content: "\e672";
}
.C2-jiuyifuwu:before {
  content: "\e700";
}
.C2-iconfontchengji:before {
  content: "\e6a1";
}
.C2-chengjiguanli:before {
  content: "\e69d";
}
.C2-EMS:before {
  content: "\e733";
}
.C2-vip:before {
  content: "\e690";
}
.C2-vip1:before {
  content: "\e6a0";
}
.C2-iconfontshixi:before {
  content: "\e682";
}
.C2-tousu:before {
  content: "\e6f9";
}
.C2-zhaopin:before {
  content: "\e67e";
}
.C2-duchaduban:before {
  content: "\e6d4";
}
.C2-mian:before {
  content: "\e709";
}
.C2-baoxianweidianji:before {
  content: "\e71a";
}
.C2-shui:before {
  content: "\e706";
}
.C2-qian:before {
  content: "\e691";
}
.C2-shuifei:before {
  content: "\e735";
}
.C2-dianfei:before {
  content: "\e732";
}
.C2-mingzu:before {
  content: "\e6e8";
}
.C2-gongwenjiaohuan:before {
  content: "\e6d5";
}
.C2-biangeng_1:before {
  content: "\e6eb";
}
.C2-youer:before {
  content: "\e70f";
}
.C2-cunkuan:before {
  content: "\e696";
}
.C2-fumufandui:before {
  content: "\e710";
}
.C2-ertongshouyang:before {
  content: "\e6ed";
}
.C2-shoushimima1:before {
  content: "\e753";
}
.C2-dian1:before {
  content: "\e728";
}
.C2-ZHicon-:before {
  content: "\e729";
}
.C2-dian:before {
  content: "\e723";
}
.C2-cloud-standard:before {
  content: "\e71e";
}
.C2-icon00098:before {
  content: "\e6b6";
}
.C2-infenicon09:before {
  content: "\e7a8";
}
.C2-chanpin:before {
  content: "\e6d2";
}
.C2-bangongyongpin1:before {
  content: "\e612";
}
.C2-zhunyingzhunban:before {
  content: "\e722";
}
.C2-22kehuguanxi:before {
  content: "\e6b8";
}
.C2-peixun:before {
  content: "\e707";
}
.C2-zufang:before {
  content: "\e705";
}
.C2-touxiang2:before {
  content: "\e740";
}
.C2-bangong:before {
  content: "\e629";
}
